.notification-item {
  background: white;
  color: gray;
  position: relative;
  min-height: 64px;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 1px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.notification-item.info {
  background: #3498db;
  color: white;
}

.notification-item.error {
  background: #e74c3c;
  color: white;
}

.notification-item.warning {
  background: #f1c40f;
  color: white;
}

.notification-item label {
  display: inline-block;
  width: 20px;
  text-align: center;
  font-size: 20px;
}

.notification-item span {
  margin: 0 20px 0 10px;
}

.notification-item button {
  cursor: pointer;
  color: white;
  background: transparent;
  border: 0;
  opacity: 0.7;
  position: absolute;
  top: 8px;
  right: 8px;
}
